
  
  body {
    background-color: lightyellow;
    margin: 30px;
    min-height: 100px;
    padding-left: 200px;
    justify-content: center;
    align-items: center;
  } 
   
  .white {
    width: 120px;
    height:500px;
    background-color: white;
    border: 1px solid black;
  }
  
  .white.active {
    background-color: silver;
  }
  .piano{
      display:flex;
      
  }
  .key {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

  .black {
    width: 70px;
    height: 280px;
    background-color: black;
    margin-left: -40px;
    margin-right: -40px;
    z-index: 2;
    color: white;
  }
  
  .black.active {
    background-color: #333;
  }